<h2>Потвърждаване на имейл</h2>


    <p>Имейлът Ви успешно беше потвърден. Можете да се регистрирате със своите </p>


<div>
    <a asp-controller="Home" asp-action="Index">Главна страница</a>
</div>