@{
    ViewData["Title"] = "RegisterConfirmation";
}

<h2>Потвърждаване на регистрация</h2>
<p>Благодаря, че се регистрирахте. Имейл за потвърждаване беше изпратен на вашата поща. Моля проверете вашата поща и изпълнете инструкциите за потвърждаване.</p>

