@model TMS.WebHost.Models.Account.RegisterVM

@{
    ViewData["Title"] = "Sign up";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-5 box-shadow mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            @if (TempData["Error"] != null)
                            {
                                <div class="col-md-12 alert alert-danger">
                                    <span><b>Извинете!</b> - @TempData["Error"]</span>
                                </div>
                            }

                            <div class="text-center mb-4 mt-5">
                                <h2>Регистриране</h2>
                                <img class="mb-4" src="~/img/avatar.svg" width="72" height="72">
                                <form asp-action="Register" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-label-group">
                                        <input asp-for="FirstName" class="form-control p-3" placeholder="Първо име">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input asp-for="LastName" class="form-control p-3" placeholder="Фамилно име">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input asp-for="UserName" class="form-control p-3" placeholder="Потребителско име">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input asp-for="Email" class="form-control p-3" placeholder="Имейл">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input asp-for="Password" class="form-control p-3" type="password" placeholder="Парола">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input asp-for="ConfirmPassword" class="form-control p-3" type="password" placeholder="Потвърждаване на парола">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <p class="small p-2">Вече имате акаунт? <a class="text-muted" style="text-decoration: none" asp-controller="Account" asp-action="Login">Вписване</a></p>
                                    <div class="form-group">
                                        <div class="row mt-3 justify-content-center">
                                            <input class="btn btn-outline-success col-4 m-1" type="submit" value="Регистриране">
                                            <a class="btn btn-outline-secondary col-4 m-1" asp-controller="Home" asp-action="Index">Откажете</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
