@model TMS.WebHost.Models.AssignUserToGroupVM

<h2>Добавяне на потребител</h2>

<form asp-action="AssignUserToGroup" method="post">
    <div class="form-group">
        <label asp-for="Group.UserId">Изберете потребител:</label>
        <select asp-for="Group.UserId" class="form-control">
            <option value="">Изберете потребител</option>
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.Username</option>
            }
        </select>
        <span asp-validation-for="Group.UserId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Добави потребител</button>
</form>
