@model TMS.WebHost.Models.GroupIM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row justify-content-center">
        <div class="card mb-5 box-shadow mt-5">
            <div class="card-body">
                <div class="row">
                    <div class="text-center mb-4 mt-5">
                        <h2>Създаване на група</h2>
                    </div>

                    @if (TempData["Error"] != null)
                    {
                        <div class="col-md-12 alert alert-danger">
                            <span><b>Извинете!</b> - @TempData["Error"]</span>
                        </div>
                    }
                    <form method="post" asp-action="Create">
                        <div class="form-group">
                            <label asp-for="GroupName">Group Name</label>
                            <input asp-for="GroupName" class="form-control" placeholder="Въведете име на група">
                            <span asp-validation-for="GroupName" class="text-danger"></span>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Създаване</button>
                            <a asp-action="Index" class="btn btn-secondary">Отказване</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
